/*------------------------HEADER--------------------------*/
.header_admin{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    background-color: #ffffff;
    z-index: 2;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
    #logo_admin{
        width: 45.5px;
        padding: 13.5px 100px;
        fill: #ffffff;
        background-color: #1a1a1f;
    }
    #menu{
        color: #ffffff;
        margin-left: -20px;
        margin-right: 20px;
        background-color: #1a1a1f;
    }
    #notif{
        color: #89949B;
        background-color: #f6f6f6;
        span{
            position: absolute;
            min-width: 20px;
            min-height: 20px;
            line-height: 20px;
            font-weight: bold;
            color: white;
            border-radius: 100%;
            font-size: 12px;
            font-family: "Open Sans";
            background: #E94B3B;
            box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
            display: inline-block;
            text-align: center;
            top: 10px;
            z-index: 1;
        }
        &:hover{
            color: #ffffff;
        }
    }
    #menu, #notif, #setting{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 40px; 
        height: 40px;
    }
    #profil{
        width: 1%;
        #azerty{
            width: 100%;
        }
    }
    #setting{
        color: #89949B;
        background-color: #f6f6f6;
        position: absolute;
        right: 50px;
        &:hover{
            color: #ffffff;
        }
    }
    #profil{
        color: #ffffff;
        position: absolute;
        right: 115px;
    }
}

.sidebar{
    z-index: 1;
    padding-top: 75px;
    position: fixed;
    width: 50px;
    height: 100vh;
    background-color: #32323A;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        a{
            color: white;
        }
        li{
            cursor: pointer;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            padding: 15px 15px;
            color: #ffffff;
            background-color: #2a2a31;
            &:hover{
                background-color: #27272d;
                width: 23px;
            }
        }
    }
}