/*------------------------CONTENT_LOGIN--------------------------*/
#bg_login{
    background-image: url("/jean-forteroche/public/assets/img/admin/bg_login.jpg");
    background-position: left;
    background-size: cover;
    z-index: -1;
    height: 100vh;
}
.content_login{
    z-index: 1;
    width: 30%;
    position: absolute;
    top: 0;
    display:block;
    margin: 10% 35%;
    background-color: $color-white;
    border-radius: 10px;
    img{
        margin: 15% 0 5% 0;
        display:block;
        width: 300px;
        margin-left:auto;
        margin-right:auto;
    }
    form{
        margin: 15% 0;
        label{
            margin-left: 12%;
            font-family: "Open Sans";
            @include font(18px, 400, 24px, #696969);
        }
        input[type=text], input[type=password] {
            margin-left: 12%;
            width: 400px;
            padding: 10px;
            border: solid 1px #c7c7c7;
            border-radius: 3px;
            background-color: $color-white;
        }
        input[type=text]{
            margin-bottom: 3%;
        }
        #remember{
            margin-top: 3%;
            margin-left: 12%;
            margin-bottom: 0;
            border: solid 1px #c7c7c7;
            background-color: $color-white;
            color: $color-white;
            width: 15px;
            height: 15px;
        }
        #cbox_rememmber{
            margin-left: 0;
            font-family: "Open Sans";
            @include font(14px, 400, 24px, #696969);
        }
        input[type=submit]{
            cursor: pointer;
            margin-top: 5%;
            display:block;
            margin-left:auto;
            margin-right:auto;
            width: 250px;
            text-align: center;
            padding: 10px;
            border: 0;
            border-radius: 5px;
            text-transform: uppercase;
            font-family: "Open Sans";
            background-color: $color-black;
            @include font(20px, 400, 24px, $color-white);
        }
    }
}
