/*------------------------RESPONSIVE LAPTOP L--------------------------*/

@media all and (max-width:1510px) {
    .list_roman{
        #content_list{
            top: 105%;
            width: 280px;
            height: 65%;
            ul{
                right: 46%;
                width: 280px;
                height: 280px;
            }
            #selct_start{
                top: 13.3%;
            }
            #selct_end{
                top: 85%;
            }
        }
    }
    

}

/*-------------------------RESPONSIVE LAPTOP-------------------------*/

@media all and (max-width:1300px) {
    header{
        img{
            width: 20%;
        }
    }
    .list_roman{
        padding: 15% 0 30% 0;
        .list{
            width: 73%;
        }
        #content_list{
            top: 140%;
        }
    }
    .shop{
        margin-top: 35%;
        ul{
            flex-direction: column;
            li {
                padding: 5% 30%;
                img{
                    width: 100%;
                }
            }
        }
    }
    footer{
        img{
            margin-top: 3.3%;
            width: 25%;
        }
        ul{
            padding-left: 55px;
        }
    }
}

/*-------------------------RESPONSIVE TABLETTE------------------*/

@media all and (max-width: 995px) {
    header{
        img{
            width: 25%;
        }
    }
    .list_roman{
        padding: 15% 0 55% 0;
        .list{
            width: 90%;
            margin-left: 10%;
            h1{
                font-size: 135px;
            }
            h2{
                margin-left: 20px;
                font-size: 55px;
            }
            p{
                font-size: 18px;
                top: 58%;
                left: 186px;
                width: 460px;
            }
        }
        #content_list{
            top: 135%;
            #selct_start{
                display: none;
            }
            #selct_end{
                display: none;
            }
        }
    }
    .shop{
        ul{
            li {
                padding: 5% 24%;
            }
        }
    }
    footer{
        img{
            margin-top: 5.3%;
            width: 33%;
        }
        ul{
            padding-left: 45px;
        }
    }
}

@media all and (max-width: 785px) {
    .list_roman{
        .list{
            h2{
                width: 450px;
            }
        }
    }
}

/*-------------------------RESPONSIVE MOBILE------------------*/

@media all and (max-width: 705px) {
    header{
        img{
            width: 50%;
        }
    }
    .content_header{
        h1{
            font-size: 55px;
        }
    }
    .list_roman{
        padding: 15% 0 120% 0;
        .list{
            width: 90%;
            margin-left: 5%;
            h1{
                font-size: 95px;
            }
            h2{
                font-weight: 500;
                width: 235px;
                margin-left: 10px;
                font-size: 30px;
                line-height: 50px;
            }
            p{
                top: 45%;
                font-size: 13px;
                left: 130px;
                width: 240px;
                a{
                    font-size: 12px;
                    width: 70%;
                    i{
                        width: 46px;
                        height: 30px;
                        font-size: 22px;
                    }
                }
            }
            .fa-angle-up{
                margin-bottom: 10%;
            }
        }
        #content_list{
            top: 115%;
            width: 230px;
            height: 50%;
            ul{
                right: 45%;
                width: 235px;
                height: 235px;
            }
            #selct_start{
                top: 13.3%;
            }
            #selct_end{
                top: 85%;
            }
        }
    }
    .shop{
        margin-top: 0;
        ul{
            li {
                padding: 5% 20%;
            }
        }
    }
    footer{
        display: flex;
        flex-direction: column;
        height: auto;
        img{
            display: none;
        }
        ul{
            padding-left: 30%;
        }
    }
}